<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel App</title>
    <!--VUE SCRIPT-->
    <link href="https://cdn.jsdelivr.net/npm/vuetify@1.2.2/dist/vuetify.min.css" rel="stylesheet" /> <!--*added*/-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@1.2.2/dist/vuetify.min.js"></script>

    <!-- BOOTSTRAP (for modals) -->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    -->
    <!--JS & CSS-->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
    <script src ="mapbox.js" defer></script>
    <script src="app.js" defer></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />
    <link rel="stylesheet" href="style.css">


</head>
<body>
    <nav class="navbar"></nav>

<div id="app">

    <!----------- CREATE / LOGIN SCREEN ----------->
    <div id="nologin" v-if="!loggedin">
        <div id="loginform">
        <div class=loginDiv><h1 class="loginHeader">Choose Your Next Vacation</h1></div> 

        <!-- WILL DELETE ONLY TESTING SOMETHING
        <a href="" target="_blank">Open page in new window</a>
         SOON TO BE DELETED-->

            <!-- LOGIN FORM -->

        <div class="handlelogin">
            <form v-on:submit.prevent="handleLogin">
                <fieldset class="firstFieldset"><legend class="legendLogin">LOGIN</legend>
                    <div class="loginFieldset">
                <input class="username" type="text" placeholder="username" v-model="loginUN">
                <input class="password" type="password" placeholder="password" v-model="loginPW">
                <input class="loginButton" type="submit" value="Login">
                    </div>  
                </fieldset>
            </form>
        </div>
            <!-- CREATE ACCOUNT FORM-->
            <div class="handleSignup"> 
            <form v-on:submit.prevent="handleSignup">
                <fieldset class="secondFieldset"><legend class="legendSignup">Create Account</legend>
                            <div class="signupFieldset">
                    <input class="createUN" type="text" placeholder="username" v-model="createUN">
                    <input class="createPW" type="password" placeholder="password" v-model="createPW">
                    <input class="signupButton"type="submit" value="Sign Up">
                            </div>
                </fieldset>
            </form>
         </div>
        </div>
</div>

    <!-- MY ACCOUNT / BACK TO DASHBOARD BUTTON -->
    <div v-if="loggedin">
        <button id="my-account-button" v-on:click="goToAccount">My Account</button>
    </div>

    <!-- MY ACCOUNT PROFILE PAGE -->
    <div v-if="onAccount">
        <h2>This is the profile area</h2>
    </div>
    

     <!---- DASHBOARD --->

     <div class="dashboard" v-if="loggedin && !onAccount"> <!--this div had a id="log-in" in case it messes something up later-->
        <div class="citiesParentDiv">
       <div>

            <article>
                <div class="testingGrid"></div>
                <h1>Where do you wanna travel?</h1>

                <div class="cityButtonsDiv" v-for="city in cities">
                    <button class="cityButtons" v-on:click="handleActivities" v-bind:id="city">{{ city }}</button>
                </div>
            </article>

        </div>
    </div>

    <div v-if="loggedin && !onAccount" v-for="activity of activities">
        <h1>{{ activity.name }}</h1>
    </div>
</div>
<!--Map Box-->
<div id="map" v-if="loggedin && !onAccount"></div>
<!-- Map Box end -->
</body>
</html>