/* * {
  border: 1px solid red;
}     */

* {
    font-family: 'Josefin Sans', sans-serif;
}     
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


html {
    background: url(https://media.timeout.com/images/105476859/image.jpg);
    background-repeat: no-repeat;
    background-size: 1920px 1550px;
    opacity: 0.8;
}

/* vacation social platform header*/
#loginform {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.loginDiv {
    display:flex;
    justify-content: center;
    padding-top: 40px;
}
/*responsible for the color and design */
.loginHeader {
    text-align: center;
    color: black;
    width: 40%;
    height: 50px;
    margin-top: 50px;
    font-style: italic;
}
/* end of header */

/* targets the entire login form*/
.handlelogin {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

/* div to center the fieldset*/
.loginFieldset{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    background-color: azure;
}
/* directly targeting fieldset*/
.firstFieldset {
    text-align: center;
    height: 200px;
    background-color: azure;
}

.username {
    width: 150px;
    height: 20px;
}

.password{
    width: 150px;
    height: 20px;
}

.loginButton{
    font-size: 15px;
}
/*targeting the login text*/
.legendLogin {
    color: black;
    font-size: 30px;
    font-weight: bolder;
}

/*end of login form*/

/*beginning of signup form*/
.signuplogin {
    margin-top: 50px;
    margin-bottom: 100px;
}

/* div to center the fieldset
.signupFieldset{
   background-color: slategray;
}
*/
.createUN{
    width: 150px;
    height: 20px;
}

.createPW {
    width: 150px;
    height: 20px;
}

.signupButton {
    font-size: 15px;
}
/* directly targeting fieldset*/
.secondFieldset {
    text-align: center;
    height: 200px;
}

/*targeting the Create Account text*/
.legendSignup {
    color: black;
    font-size: 30px;
    font-weight: bolder;
}

.modal-cities {
    border: 1px solid black;
}
/*Mapbox styles*/
#map {
    position: absolute;
    height: 500px;
    width: 100%;
    background-color: black;
    /*display: none*/
}

.marker {
    background-image: url('/marker.png');
    background-size: cover;
    /* bottom: 100px; */
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}



/*======== NAV ========*/

  .navbar {
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: rgb(70, 70, 70);
     color: black;
     width: 100%;
     top: 0px;
     opacity: 70%;
  }

  
  .logo{
    float: left; 
    width: 120px; 
    height: 100px;
  }
  
  .navbar-links {
    height: 100%;  
  }
  
  .navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
  
  }
  
  .navbar-links li {
    list-style: none;
  }

  .navbar-links li a {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 10px;
  }
  
  .navbar-links li:hover {
    background-color: rgb(138, 138, 138);
  }
  
  .toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    background-color: rgba(179, 255, 0, 0.072);
  
  }
  
  .toggle-button .bar{
    height: 3px;
    width: 100%; 
    background-color: black;
    border-radius: 10px;
    
  }
  
  
  @media (max-width: 600px) {
    .toggle-button{
      display: flex;
    }
  
    .navbar-links{
      display: none;
      width: 100%;
    }
  
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar-links ul {
       width: 100%;
       flex-direction: column;
    }
    .navbar-links ul li {
      text-align: center;
    }
  
    .navbar-links ul li a {
      padding: .5rem 1rem;
    }
  
    .navbar-links.active {
      display: flex;
    }
  
    .root {
      display : flex;
      position: relative;
      padding-left: 50px;
    } 
    
    .container {
      /* margin: 7px; */
      flex-wrap: wrap;
      position: relative;
    }
  
  
  } 
  /*======== NAV END ========*/
