/* * {
  border: 1px solid red;
}     */

.fas{
  color:red
}

.fa-comment-dots{
color:navy;
font-size: 4em
}

.fas.fa-comment-dots{
padding-left: 10px;
}

.fab.fa-github-square{
color: rgb(145, 145, 145);;
font-size: 3em;
}

.nologin{
padding-top: 50px;
}

.container {
min-height: 100%;
}

body {
background-color: mintcream;
}

.btn.btn-info{
  font-size: 18px;
  font-weight: bolder;
}


#bottom-block-login{
position: fixed;
 left: 0;
 bottom: 0;
 width: 100%;
 background-color: red;
 color: white;
 text-align: center;
 height: 100px;
 padding: 30px;

}

.socialIcons {
top: 50%;
background-color: rgba(21, 21, 21, 0.329);
padding: 25px;
border-radius: 5px;
text-align: center;
height: 150px;
}

body {
  background-repeat: no-repeat;
  background-size: 1920px 1550px;
}

.login-background {
background-image: url(https://res.cloudinary.com/techhire/image/upload/v1598641279/Voyage.com_4_jxivwx.png);
background-size: 100%;
background-position: 50% 50%;
}

/* @media only screen and (max-width: 767px) {
body {
  background-image: url(images/background-photo-mobile-devices.jpg);
}
} */

.travel{
text-align: center;
font-size: 25px;
}

/* vacation social platform header*/
#loginform {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.loginDiv {
  display:flex;
  justify-content: center;
  padding: 0;
}
/*responsible for the color and design */
.loginHeader {
  text-align: center;
  color: black;
  width: 40%;
  height: 50px;
  margin-top: 50px;
}
/* end of header */

/* targets the entire login form*/
.handlelogin {
  display: flex;
  justify-content: center;  
}

/* div to center the fieldset*/
.loginFieldset{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* directly targeting fieldset*/
.firstFieldset {
  text-align: center;
  height: 300px;
  width: 500px;
  border: 10px black;
}

.username {
  width: 300px;
  height: 50px;
  text-align: center;
  color: black;
  font-weight: 30px;
  border: 3px solid slategray;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.password{
  width: 300px;
  height: 50px;
  text-align: center;
  border: 3px solid slategray;
  border-radius: 10px;
  margin-bottom: 40px;
}

.loginButton{
  font-size: 15px;
  width: 100px;
  height: 30px;
  border: 3px solid black;
  border-radius: 5px;
  font-size: 20px;
  color: black;
  font-weight: bolder;
  background-color: slategray
}
/*targeting the login text*/
.legendLogin {
  color: black;
  font-size: 30px;
  font-weight: bolder;
}

/*end of login form*/

/*beginning of signup form*/
.signuplogin {
  margin-top: 50px;
  margin-bottom: 100px;
}

.createaccount {
  /* background-color: rgb(171, 175, 179); */
 padding-top: 10px;
}

.createUN{
  width: 200px;
  height: 50px;
  text-align: center;
  color: black;
  font-weight: 30px;
  border: 3px solid slategray;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 15px;
}

.createPW {
  width: 200px;
  height: 50px;
  text-align: center;
  border: 3px solid slategray;
  border-radius: 10px;
  margin-bottom: 40px;
  color: black;
  font-size: 15px;
}

.signupButton {
  font-size: 15px;
  width: 100px;
  height: 30px;
  border: 3px solid black;
  border-radius: 5px;
  font-size: 20px;
  color: black;
  font-weight: bolder;
  background-color: slategray
}
/* directly targeting fieldset*/
.secondFieldset {
  text-align: center;
  height: 100px;
  border: 10px black;
}

/*targeting the Create Account text*/
.legendSignup {
  color: black;
  font-size: 20px;
  font-weight: bolder;
}

.modal-cities {
  border: 1px solid black;
}
/*Mapbox styles*/
#map {
  position: absolute;
  height: 500px;
  width: 100%;
  background-color: black;
  display: block
  /*LEAVING DISPLAY:NONE TEMPORARILY*/
}

.marker {
  background-image: url('https://res.cloudinary.com/techhire/image/upload/v1598649215/marker_copy_lpqmih.png');
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
justify-content: center;
align-items:center;
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#contain {
width: 60%;
}
.modal-title {
padding: 10px 16px;
height: 50px;
background-color: #545754;
color: white;
z-index: 2;
font-size: 20px;
font-weight: bold;
border-radius: 8px;
}
.modal-footer {
padding: 10px 16px;
height: 50px;
background-color: #545754;
color: white;
z-index: 2;
font-size: 20px;
font-weight: bold;
border-radius: 8px;
}

/* Modal Content/Box */
.modal-body {
background-color: #fefefe;
min-height: 70px;
border: 3px solid rgb(112, 220, 202);
border-radius: 8px;
padding: 15px 16px;
z-index: 2;
}

textarea{
  display: block;
  border: 1px solid black;
}

/* The Close Button */
.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

p {
  font-size: 15px;
}

.fas.fa-heart {
  font-size: 1.5em;
}

/*THIS IS FOR ACTIVITIES PAGE AFTER RECENT VERSION HAS BEEN COMMITTED*/
/*leave display:none on map until dashboard css is completed*/
.dashboard {
  background-color: black;
  /* display: flex; */
}

.citiesParentDiv{
  display: flex;
  justify-content: center; 
  
} 

.cityButtonsDiv {
  display: flex; 
  justify-content: center; 
}

.cityButtons{
  color: purple;
  font-size: 40px;
}

#headingdate {
    font-size: 15px;

}

#formdate, #date {
    padding: 1vw
}


#profile-grid {
display: grid;
grid-template-columns: auto auto;
padding:  0px 120px 20px 120px;
}

#test-box {
background-color: rgb(254, 254, 254);
border-radius: 10px;

/*======== NAV ========*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(70, 70, 70);
  color: black;
  width: 100%;
  top: 0px;
  opacity: 70%;
}


.logo{
 float: left; 
 width: 120px; 
 height: 100px;
 
}

.logo2{
  float: center; 
  width: 400px; 
  height: 200px;
 }

.navbar-links {
 height: 100%;  
}

.navbar-links ul {
 margin: 0;
 padding: 0;
 display: flex;

}

.navbar-links li {
 list-style: none;
}

.navbar-links li a {
 display: block;
 text-decoration: none;
 color: rgb(255, 255, 255);
 margin: 10px;
 font-size: 20px;
}

.navbar-links li:hover {
 background-color: rgb(138, 138, 138);
}

.toggle-button {
 position: absolute;
 top: .75rem;
 right: 1rem;
 display: none;
 flex-direction: column;
 justify-content: space-between;
 width: 30px;
 height: 21px;
 background-color: rgba(179, 255, 0, 0.072);

}

.toggle-button .bar{
 height: 3px;
 width: 100%; 
 background-color: black;
 border-radius: 10px;
 
}

.activities-profile {
    padding: 10px;
    text-align: center;
    border-radius: 20px
}

@media (max-width: 600px) {
 .toggle-button{
   display: flex;
 }

 .navbar-links{
   display: none;
   width: 100%;
 }

 .navbar {
   flex-direction: column;
   align-items: flex-start;
 }

 .navbar-links ul {
    width: 100%;
    flex-direction: column;
 }
 .navbar-links ul li {
   text-align: center;
 }

 .navbar-links ul li a {
   padding: .5rem 1rem;
 }


 .navbar-links.active {
   display: flex;
 }

 .root {
   display : flex;
   position: relative;
   padding-left: 50px;
 } 
 
 .container {
   /* margin: 7px; */
   flex-wrap: wrap;
   position: relative;
 }


}
/*======== NAV END ========*/

