html, .username, .password, .createUN, .createPW {
    background: url(https://media.timeout.com/images/105476859/image.jpg);
    background-repeat: no-repeat;
    background-size: 1920px 1550px;
    opacity: 0.8;
}
/* claudia code */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(70, 70, 70);
    color: black;
    width: 100%;
    top: 0px;
    opacity: 70%;
 }

 
/**/ 
/* vacation social platform header*/
#loginform {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.loginDiv {
    display:flex;
    justify-content: center;
}
/*responsible for the color and design */
.loginHeader {
    text-align: center;
    color: black;
    background-color: lightslategray;
    width: 40%;
    height: 50px;
    margin-top: 50px;
}
/* end of header */

/* targets the entire login form*/
.handlelogin {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
    
}

/* div to center the fieldset*/
.loginFieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* directly targeting fieldset*/
.firstFieldset {
    text-align: center;
    height: 300px;
    width: 500px;
    border: 10px black;
}

.username {
    width: 300px;
    height: 50px;
    text-align: center;
    color: black;
    font-weight: 30px;
    border: 3px solid slategray;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.password{
    width: 300px;
    height: 50px;
    text-align: center;
    border: 3px solid slategray;
    border-radius: 10px;
    margin-bottom: 40px;
}

.loginButton{
    font-size: 15px;
    width: 100px;
    height: 30px;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 20px;
    color: black;
    font-weight: bolder;
    background-color: slategray
}
/*targeting the login text*/
.legendLogin {
    color: black;
    font-size: 30px;
    font-weight: bolder;
}

/*end of login form*/

/*beginning of signup form*/
.signuplogin {
    margin-top: 50px;
    margin-bottom: 100px;
}

/* div to center the fieldset
.signupFieldset{
   background-color: slategray;
}
*/
.createUN{
    width: 300px;
    height: 50px;
    text-align: center;
    color: black;
    font-weight: 30px;
    border: 3px solid slategray;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.createPW {
    width: 300px;
    height: 50px;
    text-align: center;
    border: 3px solid slategray;
    border-radius: 10px;
    margin-bottom: 40px;
    color: black;
}

.signupButton {
    font-size: 15px;
    width: 100px;
    height: 30px;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 20px;
    color: black;
    font-weight: bolder;
    background-color: slategray
}
/* directly targeting fieldset*/
.secondFieldset {
    text-align: center;
    height: 200px;
}

/*targeting the Create Account text*/
.legendSignup {
    color: black;
    font-size: 30px;
    font-weight: bolder;
}

.modal-cities {
    border: 1px solid black;
}
/*Mapbox styles*/
#map {
    position: absolute;
    height: 500px;
    width: 100%;
    background-color: black;
    display: none
    /*LEAVING DISPLAY:NONE TEMPORARILY*/
}

.marker {
    /*background-image: url('/marker.png');*/
    background-size: cover;
    /* bottom: 100px; */
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}


/*THIS IS FOR ACTIVITIES PAGE AFTER RECENT VERSION HAS BEEN COMMITTED*/
/*leave display:none on map until dashboard css is completed*/
.dashboard {
    background-color: black;
    /* display: flex; */
}

.citiesParentDiv{
    display: flex;
    justify-content: center; 
    
} 
/* 
.testingGrid {
    grid-area: test; 
    color: white;
}
 */

.cityButtonsDiv {
    display: flex; 
    justify-content: center; 
}

.cityButtons{
    color: purple;
    font-size: 40px;
    /* height: 200%;
    padding: 200px;
    margin-top: 200px;
    margin-bottom: 200px;
    */
}
/*NOT COMMITTED UNTIL PASTING THE LAST VERSION BY CLAUDIA*/ 

